[user]
	email = zhuangqiubin@allwinnertech.com
	name = zhuangqiubin
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[core]
    editor=vim
	autocrlf = input
[credential]
	helper = store
[alias]
    df = diff --ignore-space-at-eol
    fp = format-patch --ignore-space-at-eol -M -C
    fpb = "!f(){ git format-patch --ignore-space-at-eol -M -C --subject-prefix="PATCH][$(basename $PWD)/$(basename $(git config --get branch.$(basename $(cat .git/HEAD|awk '{print $2}')).merge))" ${*};};f"
    st = status
	br = branch
	ci = commit
	last = log -1 HEAD
	co = checkout
	cp = cherry-pick
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = matching
